# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# ENV VARIABLES
# =========================
.env

# =========================
# VECTOR DATABASE STORAGE
# =========================
storage/
*.index
*.pkl

# =========================
# USER UPLOADS
# =========================
uploads/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# NODE / NEXTJS
# =========================
node_modules/
.next/
out/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db